.nav{
    padding: 0;
}
.nav__text{
    width: 100%;
    height: auto;
}
.nav__text h1{
    padding-bottom: 0.5rem;
    letter-spacing: 1px;
}
.nav__text p{
    letter-spacing: 1px;
    font-size: 25px;;
}
.nav__borders{
    width: 100%;
    padding-top: 1rem;
}
.nav__border{
    width: 30%;
    height: 3px;
    background: $qizil;
    margin: 0 auto;
    transition: all 0.5s ease;
}
.nav__form{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav__form input{
    padding: 0.5rem 1rem ;
}
.nav__text_align{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__form select{
    transition: all 0.5s ease;
    outline: 3px solid transparent;
    border-radius: 10px;
    font-size: 19px;
    letter-spacing: 1px;
}
.nav__text{
    width: 73%;
   display: flex;
   justify-content: flex-end;
}
.nav__select{
    width: 20%;
    display: flex;
    justify-content: end;
}
select{
    padding: 0.5rem 1rem ;
    font-size: 16px;
}
.parent__select{
    font-size: 16px;
    padding: 0.4rem;
    outline: 3px solid transparent;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.parent__select:focus, .form__btn:hover{
    outline: 3px solid $qizil;
    
}
.form__btn:hover{
    outline: 3px solid $oq;
}
.nav__form select:focus{
    outline: 3px solid $qizil;
}
.card__img_top{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.hero__cards{
    padding-top: 5rem;
    @include evenly;
}
.card{
    width: 30%;
    text-align: center;
    color: $oq;
    margin-top: 1rem;
}
.card__title, .card__text{
    padding: 0.5rem 0rem;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 26px;
    
}
.card__title{font-size: 30px;}
.card__btn, .pagination__btn button{margin-top: 0.5rem ;padding: 0.5rem 0.9rem; background:$qizil; color: $oq; letter-spacing: 1px;}
::-webkit-scrollbar{
     background: linear-gradient(#e66465, #9198e5);
}
.activeHeader{
    color: $defaulrColor;
    background:$headerColor;
    transition: 0.5s ease;
}
.activeHeader .nav__border{
    background: $defaulrColor;
}
.form__btn{
    padding: 0.5rem 1rem;
    font-size: 17px;
    outline: 3px solid transparent;
    border: 1px solid transparent;
    transition: all 1s ease;
    @include borders
}
.pagination__btn {
    width: 100%;
    @include center;
}
.pagination__btn  button{
    margin: 1rem;
}
.locals{
    padding-top: 14rem;
    // position: fixed;
}
.locals__container{
    position: fixed;
}
.locals__align{
    background: rgba(0, 0, 0, 0.694);
    border-radius: 10px;
    list-style-type: none;
    transform: translateX(-120%);
    transition: all 0.5s ease;
    height: 300px;
    overflow: scroll;
}
.locals__align li{
    padding: 0.5rem 1rem ;
    border-radius: 10px;
    color: $oq;
    text-align: center;
}
.locals__align li img{
    width: 150px;
    height: 150px;
}
.locals__align li h3{
    font-size: 30px;
}
.locals__align img{ border-radius: 15px; }
.locals__align h4{font-size: 23px; padding: 1rem;}
.active{
    transform: translateX(0%);
}
.dowload__kino{
    padding: 0.5rem 0.7rem ;
    font-size: 17px;
    border-radius: 15px;
    background: $qizil;
    color: $oq;
    letter-spacing: 1px;
    @include borders;
}
.dowload__kino:hover{
    background: $oq;
    color: $qora;
}
.timeOut{
    position: fixed;
    top: 40%;
    left: 40%;
    width: 250px;
    min-height: 150px;
    background: $oq;
    color: $defaulrColor;
    @include center;
    border-radius: 50%;
    display: none;
}
.timeOutBlock{
    display: flex;
}